@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom-image {
    transition: transform 0.3s ease;
}

.zoom-image:hover {
    transform: scale(1.1);
}

.selected-image {
    filter: grayscale(75%) brightness(90%);
}